[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
setup = "make setup"
start = "uvicorn main:app --reload"
test = "python -m scripts/test_search"

[packages]
openai = "*"
pandas = "*"
numpy = "*"
faiss-cpu = "*"
python-dotenv = "*"
datasets = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.10"
